@tailwind base;
@tailwind components;
@tailwind utilities;

.search:focus-within .icon{
    visibility: hidden;
}
.first{
    /* background-image: url('./assests/sofa3.jpeg'); */
    background-color: rgb(159, 45, 45);
    height:100%;
    border-radius: 20px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

   
}
.Img{
    width: 600px;
    aspect-ratio: auto 600 / 400;
    height: 400px;
}

